<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>

<body id="myBody">
    <div class = "container">
        <div class = "top mt-4 float-center">
            <!--Bootstrap Docs for Buttons-->
            <!--https://getbootstrap.com/docs/4.5/components/buttons/#conveying-meaning-to-assistive-technologies-->
            <a onclick=decreaseFontSize() class="btn btn-outline-secondary">Decrease Font</a>
            <a onclick=increaseFontSize() class="btn btn-outline-secondary">Increase Font</a>
            <a href = "/users/listUsers" class="btn btn-dark float-right">List Users</a>
            <a href = "../posts/index.ejs" class="btn btn-dark float-right">Blog</a>
        </div>
        <div class="jumbotron jumbotron-fluid mt-5 mb-4">
            <div class="container">
              <h1 class="display-4 text-center">Welcome to the admin dashboard!</h1>
              <h4 class="lead text-center">Here are your current users.</h4>
            </div>
        </div>
        <h1 class="mt-4 mb-4">Users
            <a href = "/users/addUser" class="btn btn-outline-dark btn-lg float-right">+ New User</a>
        </h1>
       

        <% users.forEach(user => { %>
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title"><%= user.name %></h4>
                <div class="card-subtitle text-muted mb-2">
                  Joined on: <%= user.joinedOn.toLocaleDateString() %>
                </div>
                <div class="card-text mb-4"><%= user.email %></div>
                <a href="<%= user.slug %>" class="btn btn-primary">Show</a>
                <a href="updateUser/<%= user.id %>" class="btn btn-info">Edit</a>
                <form action="/users/<%= user.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          <% }) %>

      
    </div>
    <script>
        function increaseFontSize() {
            document.getElementById("myBody").style.fontSize = "3.0em";
        }
        
        function decreaseFontSize() {
            document.getElementById("myBody").style.fontSize = "1.0em";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
